
body {
    background-color: #0A0A0A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto";
    color: #F5F5F5;
}

.wrapper {
    padding: 0px 40px 0px 40px;
}

/* ESTILOS DE TITULAR */

h1 {
    font-size: 276px;
    font-weight: 900;
    line-height: 130px;
}

h2 {
    font-size: 20px;
    font-weight: 200;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: justify;
}

ul {
    list-style: none;
}

.section-title {
    border-bottom: 1px solid #F5F5F5; 
}

/* MENÚ  */

nav {
padding: 16px 40px 16px 40px;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
background-color: #0A0A0A;
z-index: 999;
border-bottom: 1px solid #F5F5F5 ;
}


.btn-group > a { 
text-decoration: none;
font-size: 16px;
padding: 8px 15px;
background-color: #0A0A0A; 
border: 1px solid #F5F5F5; 
border-radius: 20px; 
margin-left: 24px;
transition: 0.3s;
}

.btn-group > a:hover{
    background-color: #F5F5F5;
    color: #0A0A0A;
    font-weight: bold;
}

/* CABECERA */

header {
    padding: 140px 40px 40px 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.title-home > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    margin-left: -48px;
    padding-right: 40px;
    flex-wrap: wrap;
}

header > h2 {
    align-self: flex-end;
}

header > div {
    display: flex;
    padding-top: 80px;
    gap: 160px;
}

header > div > p {
    padding-top: 550px;
}

/* SELECTED PROJECTS  */

#selected-projects > .section-title {
    margin-left: 620px;
}

#selected-projects > div{ 
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

.pro-column-slim > ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.pro-column-wide > :first-child {
    display: flex;
    gap: 20px;
    padding-bottom: 24px;
    flex-wrap: wrap;
}

.pro-row > div > h4 {
    border-top: 1px solid #F5F5F5;
    padding-top: 12px;
}

.pro-row > div > img {
    padding-bottom: 12px;
}

.pro-row > h4 { 
    border-top: 1px solid #F5F5F5;
    padding-top: 12px;
}

.pro-row > img {
    padding-bottom: 12px;
}
