
body {
    background-color: #0A0A0A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto";
    color: #F5F5F5;
}

.wrapper {
    padding: 0px 40px 0px 40px;
}

/* ESTILOS DE TITULAR */

h1 {
    font-size: 276px;
    font-weight: 900;
    line-height: 130px;
}

h2 {
    font-size: 20px;
    font-weight: 200;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: justify;
}

ul {
    list-style: none;
}

.section-title {
    border-bottom: 1px solid #F5F5F5; 
}

.p-acento {
    font-family: "Sloop";
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 0;
    letter-spacing: 3px;
}

/* MENÚ  */

nav {
padding: 16px 40px 16px 40px;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
background-color: #0A0A0A;
z-index: 999;
border-bottom: 1px solid #F5F5F5 ;
}


.btn-group > a { 
text-decoration: none;
font-size: 16px;
padding: 8px 15px;
background-color: #0A0A0A; 
border: 1px solid #F5F5F5; 
border-radius: 20px; 
margin-left: 24px;
transition: 0.3s;
}

.btn-group > a:hover{
    background-color: #F5F5F5;
    color: #0A0A0A;
    font-weight: bold;
}

/* HOME---------------------------------------------------------------- */

/* CABECERA */

header {
    padding: 140px 40px 40px 40px;
   display: flex;
   flex-direction: column;
   align-items: left;
}

.title-home > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    margin-left: -48px;
    padding-right: 40px;
   
}

.sub-home {
    align-self: flex-end;
}

.presentation {
    display: flex;
    padding-top: 80px;
    gap: 160px;
}

.presentation > div:last-child> p {
    padding-top: 550px;
}

/* ORNAMENTO  */

.ornament {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 160px;
  
}


/* SELECTED PROJECTS  */


#selected-projects > .section-title {
    margin-left: 400px;
}

#selected-projects > div{ 
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap-reverse;
}


.pro-column-slim > ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.pro-column-wide > :first-child {
    display: flex;
    gap: 20px;
    padding-bottom: 24px;
    flex-wrap: wrap;
}

.pro-row > div > h4 {
    border-top: 3px solid #F5F5F5;
    padding-top: 12px;
}

.pro-row > div > a {
    padding-bottom: 12px;
}

.pro-row > h4 { 
    border-top: 3px solid #F5F5F5;
    padding-top: 12px;
}

.pro-row > div > div {
    padding: 12px;
    
}

/* OVERLAY */

 .pro-row > div > div {
    position: relative;
    transition: 0.3s;
}

.overlay {
    background-color: rgba(196, 3, 196, 0.628);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}

.overlay > p {
   color: #F5F5F5;
    font-size: 24px;
    font-weight: bold;
}

.overlay:hover {
    opacity: 100%;
}





/* FRASE */
.quote {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 400px;
}

.quote > h5 {
    font-family: "Sloop";
    font-size: 120px;
    font-weight: bold;
}

/* BEHIND TOXA STUDIO */

#previewabout {
    padding-bottom: 300px;
}

#previewabout > h3 {
    text-align: right;
    margin-right: 400px;
}

#previewabout > div {
    display: flex;
    padding-top: 36px;
    gap: 160px;
    align-self: flex-end;
}

#previewabout > div > div > p {
    padding-top: 450px;
    padding-bottom: 80px; }

#previewabout > div > div > img {
   height: 800px;}

.pre-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    align-self: flex-end;

}


/* CONTACT  */

footer > h1 > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    padding-right: 60px;
}

footer > div {
    display: flex;
    justify-content: space-between;
    padding-top: 600px;
    padding-bottom: 48px;
   
}

footer > div > p {
    align-self: flex-end;
}

footer > div > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer > div > div > a {
    text-align: center;
}

/* ABOUT--------------------------------------------------------------- */

/* CABEDERA */

.title-about > h1 > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    margin-left: -10px;
    padding-right: 58px;
}

.presentation-about {
    display: flex;
    padding-left: 40%;
    padding-bottom: 300px;
    justify-content: left;
    flex-direction: column;
    padding-top: 150px;
    gap: 150px;
}

/* BACKGROUND  */

.title-background  > h1 {
    font-size: 128px ;
}

.title-background > h1 > span {
     font-family: "Sloop";
    font-size: 130px;
    font-weight: bold;
    margin-left: 3px;
    padding-right: 25px;
}

#section-background {
    padding-bottom: 300px;
}

.title-background {
    padding-bottom: 200px;
}

.info-about {
    padding-left: 20%;
}

.info-about> div > p {
    padding-top: 16px;
    margin-left: 40%;
}

.info-about> div > h4 {
    padding-top: 24px;
    margin-left: 40%;
}

.info-about> div > img {
    padding-top: 24px;
    margin-left: 40%;
}

/* OBSERVATORY  */

.title-observatory > h1 {
    font-size: 128px;
}

.title-observatory > h1 > span {
    font-family: "Sloop";
    font-size: 130px;
    padding-right: 30px;
    margin-left: -12px;
}

.title-observatory {
    padding-bottom: 60px;
}

.gallery > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery > ul > li {
    flex: 30%;
}

.gallery > ul > li > img {
    width: 100%;
}

.gallery > ul > li > p {
    display: flex;
   padding: 15% 40px;
   
}

/* PROJECTS-------------------------------- */
   
/* CABECERA */

.header-projects{
     padding: 150px 40px 0px 24px;
display: flex;
justify-content: space-between;
align-items: left;
width: 100%;
background-color: #0A0A0A;
z-index: 998;
border-bottom: 1px solid #F5F5F5 ;
justify-content: left;
}

.title-projects > h1 > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    margin-left: 5px;
    padding-right: 5px;
}  
.title-projects > h1 {
    padding-bottom: 24px;
}

.header-projects> h2 {
    border-top: 1px solid #F5F5F5;
    width: 100%;
    padding: 24px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    top: 224px;
    left: 0%;
    width: 100%;
    z-index: 997;
}

/* PROJECTS GALLERY */

.projects-gallery {
     width: 100%;
    padding: 0px 40px 300px 40px;
    display: flex;
    width: 100%;
    z-index: 996;
    flex-direction: column;
}

.row-pro {
display: flex;
gap: 40px;
border-bottom: 1px solid#F5F5F5;
padding-bottom: 40px;
padding-top: 40px;
flex-wrap: wrap;
width: 100%;
}

.row-pro > div {
    flex: 1;
}

.row-pro > div:last-child{
    display: flex;
    flex-direction: column;
    gap: 120px;
}


.category {
    display: flex;
    justify-content: space-between;
}

.category > p {
font-size: 16px;
padding: 8px 15px;
border: 1px solid #F5F5F5;
border-radius: 20px;
}

.text-row > p {
    /* text-align: left; */
    padding-top: 24px;
    align-self: flex-end;
}

.column-pro {
    display: flex;
    flex-direction: row;
    gap: 60px;
    border-bottom: 1px solid #F5F5F5;
}

.col-pro {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}


.category-col {
    display: flex;
    justify-content: space-between;
    width: 100%;}

.category-col > p {
font-size: 16px;
padding: 8px 15px;
border: 1px solid #F5F5F5;
border-radius: 20px;
justify-content: space-between;
}


/* EMBULLATS  PROJECT ----------------------------*/

/* CLOSE PROJECT */

.close-project {
padding: 100px 40px 16px 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
background-color: #0A0A0A;
z-index: 994;
border-bottom: 1px solid #F5F5F5 ;
}

/* INFO PROJECT */

.info-project {
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
    
}

.info-project > div {
    padding-bottom: 40px;
    padding-top: 40px;
}

.info-project > div:first-child {
    width: 40%;
    padding-right: 40px;
    border-right: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 223px;
}

.info-project > div:first-child > div:last-child > p {
    padding-top: 24px;

}
   

.info-project> div:last-child {
width: 60%;
padding-left: 40px;
border-bottom: 1px solid #F5F5F5;
display: flex;
flex-direction: column;
gap: 60px;
}

.info-project > div:last-child > img {
    width: 160px;
    align-self: flex-end;
}

.info-project> div:last-child > ul > li > h4 {
    padding-top: 24px;
}

.info-project> div:last-child > ul > li > p {
    padding-top: 12px;
}

/* GALERÍA */

#masonry > ul {
  column-count: 3;
  column-gap: 20px;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 300px;
}

#masonry > ul > li {
    break-inside: avoid;
    margin-bottom: 20px;
}

#masonry > ul > li > img {
    width: 100%;
    display: block;
}
#masonry > ul > li > p {
    padding: 24px;
    text-align: center;
}