
body {
    background-color: #0A0A0A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto";
    color: #F5F5F5;
}

.wrapper {
    padding: 0px 40px 0px 40px;
}

/* ESTILOS DE TITULAR */

h1 {
    font-size: 276px;
    font-weight: 900;
    line-height: 130px;
}

h2 {
    font-size: 20px;
    font-weight: 200;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: justify;
}

ul {
    list-style: none;
}

.section-title {
    border-bottom: 1px solid #F5F5F5; 
}

.p-acento {
    font-family: "Sloop";
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 0;
    letter-spacing: 3px;
}

/* MENÚ  */

nav {
padding: 16px 40px 16px 40px;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
background-color: #0A0A0A;
z-index: 999;
border-bottom: 1px solid #F5F5F5 ;
}


.btn-group > a { 
text-decoration: none;
font-size: 16px;
padding: 8px 15px;
background-color: #0A0A0A; 
border: 1px solid #F5F5F5; 
border-radius: 20px; 
margin-left: 24px;
transition: 0.3s;
}

.btn-group > a:hover{
    background-color: #F5F5F5;
    color: #0A0A0A;
    font-weight: bold;
}

/* HOME  */

/* CABECERA */

header {
    padding: 140px 40px 40px 40px;
   display: flex;
   flex-direction: column;
   align-items: left;
}

.title-home > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    margin-left: -48px;
    padding-right: 40px;
   
}

header > h2 {
    align-self: flex-end;
}

.presentation {
    display: flex;
    padding-top: 80px;
    gap: 160px;
}

.presentation> div > div > p {
    padding-top: 550px;
}

/* ORNAMENTO  */

.ornament {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 160px;
  
}


/* SELECTED PROJECTS  */


#selected-projects > .section-title {
    margin-left: 400px;
}

#selected-projects > div{ 
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}


.pro-column-slim > ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.pro-column-wide > :first-child {
    display: flex;
    gap: 20px;
    padding-bottom: 24px;
    flex-wrap: wrap;
}

.pro-row > div > h4 {
    border-top: 1px solid #F5F5F5;
    padding-top: 12px;
}

.pro-row > div > img {
    padding-bottom: 12px;
}

.pro-row > h4 { 
    border-top: 1px solid #F5F5F5;
    padding-top: 12px;
}

.pro-row > img {
    padding-bottom: 12px;
}

/* FRASE */
.quote {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 400px;
}

.quote > h5 {
    font-family: "Sloop";
    font-size: 120px;
    font-weight: bold;
}

/* BEHIND TOXA STUDIO */

/* AJUSTES O ABOUT
#previewabout > h1 > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    margin-left: -10px;
    padding-right: 60px;
} */

#previewabout {
    padding-bottom: 300px;
}

#previewabout > h3 {
    text-align: right;
    margin-right: 400px;
}

#previewabout > div {
    display: flex;
    padding-top: 36px;
    gap: 160px;
    align-self: flex-end;
}

#previewabout > div > div > p {
    padding-top: 450px;
    padding-bottom: 80px; }

#previewabout > div > div > img {
   height: 800px;}

.pre-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 400PX;
    align-self: flex-end;

}


/* CONTACT  */

footer > h1 > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    padding-right: 60px;
}

footer > div {
    display: flex;
    justify-content: space-between;
    padding-top: 600px;
    padding-bottom: 48px;
   
}

footer > div > p {
    align-self: flex-end;
}

footer > div > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer > div > div > a {
    text-align: center;
}

/* ABOUT  */

/* CABEDERA */

.title-about > h1 > span {
    font-family: "Sloop";
    font-size: 278px;
    font-weight: bold;
    margin-left: -10px;
    padding-right: 58px;
}

.presentation-about {
    display: flex;
    padding-left: 750px;
    padding-bottom: 300px;
    justify-content: left;
    flex-direction: column;
    padding-top: 150px;
    gap: 150px;
}

.title-background  > h1 {
    font-size: 128px ;
}

.title-background > h1 > span {
     font-family: "Sloop";
    font-size: 130px;
    font-weight: bold;
    margin-left: 3px;
    padding-right: 25px;
}

